{{!--
<a id="asd" href="javascript:void(0)" onclick="amountDetails(this)" class="btn btn-link">
    Click</a> --}}

<table id="table" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%" style="border-collapse: collapse !important">
    <thead>
        <tr>
            <td colspan="9">
                Exchange: &nbsp;
                <button id="btnBittrex" class="btn btn-sm btn-secondary toggle-vis" data-column="1" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Bittrex
                </button>
                <button id="btnBinance" class="btn btn-sm btn-secondary toggle-vis" data-column="2" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Binance
                </button>
                <button id="btnPoloniex" class="btn btn-sm btn-secondary toggle-vis" data-column="3" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Poloniex
                </button>
                <button id="btnCryptopia" class="btn btn-sm btn-secondary toggle-vis" data-column="4" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Cryptopia
                </button>
                <button id="btnLivecoin" class="btn btn-sm btn-secondary toggle-vis" data-column="5" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Livecoin
                </button>
                <button id="btnLiqui" class="btn btn-sm btn-secondary toggle-vis" data-column="6" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Liqui
                </button>
                <button id="btnHitBTC" class="btn btn-sm btn-secondary toggle-vis" data-column="7" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    HitBTC
                </button>
            </td>
        </tr>
        <tr>
            <th>Code
            </th>
            <th>Bittrex</th>
            <th>Binance</th>
            <th>Poloniex</th>
            <th>Cryptopia</th>
            <th>Livecoin</th>
            <th>Liqui</th>
            <th>HitBTC</th>
            <th>Percentage</th>
        </tr>
    </thead>

</table>
<script>

    function amountDetails(element) {

        var exchange = element.dataset.exchange;
        var type = element.dataset.type;
        var market = element.dataset.pair;
        var content;

        var jqxhr = $.get("/getorderbook?exchange=" + exchange + "&market=" + market + "&type=" + type, function (data, status) {

            content = '<table class="table table bordered table-sm">';
            content += '<thead><tr><th>PRICE</th><th>AMOUNT</th></thead>';
            content += '<tbody>';

            for (var i = 0; i < data.arr.length; i++) {
                content += '<tr>';
                content += '<td>' + data.arr[i].Rate;
                content += '</td>';
                content += '<td>' + data.arr[i].Quantity;
                content += '</td>';
                content += '</tr>';
            }
            content += '</tbody></table>';
            content += '<div class="row">';
            content += '<div class="col"  align="left">';
            content += '<h4>' + type + '</h4>';
            content += '</div>';
            content += '<div class="col" align="right">';
            content += '<a target="_blank" class="btn btn-primary btn-sm" href="'+ data.link +'">Vai <i class="fa fa-arrow-right" aria-hidden="true"></i></a>'
            content += '</div>';
            content += '</div>'; 

            $(element).popover({
                html: true,
                trigger: 'manual',
                title: market + ' - ' + exchange + ' <button class="btn btn-sm btn-danger float-sm-right" onclick="$(this).parent().parent().remove();" value="close" style="padding:4px 6px;margin:-5px;"><i class="fa fa-times" aria-hidden="true"></i></button>',
                content: content,
                template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
            });
            $(element).popover('toggle');
        });

    }

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

</script>

<style>
    .popover {
        width: 350px;
    }

    td {
        position: relative !important;
    }

    tbody {
        line-height: 1;
    }

    .hand {
        cursor: pointer;
    }

    .divTable {
        display: table;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: transparent;
        display: table-header-group;
    }

    .divTableCell,
    .divTableHead {
        border: 0px solid #999999;
        display: table-cell;
        padding: 0px 0px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }
</style>