<table id="table" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%" style="border-collapse: collapse !important">
    <thead>
        <tr>
            <td colspan="7">
                Exchange: &nbsp;
                <button id="btnBittrex" class="btn btn-sm btn-secondary toggle-vis" data-column="1" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Bittrex
                </button>
                <button id="btnBinance" class="btn btn-sm btn-secondary toggle-vis" data-column="2" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Binance
                </button>
                <button id="btnPoloniex" class="btn btn-sm btn-secondary toggle-vis" data-column="3" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Poloniex
                </button>
                <button id="btnCryptopia" class="btn btn-sm btn-secondary toggle-vis" data-column="4" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Cryptopia
                </button>
                <button id="btnLivecoin" class="btn btn-sm btn-secondary toggle-vis" data-column="5" onclick="exchange(this)">
                    <i class="far fa-check-square"></i>
                    Livecoin
                </button>
            </td>
        </tr>
        <tr>
            <th>Code</i>
            </th>
            <th>Bittrex</th>
            <th>Binance</th>
            <th>Poloniex</th>
            <th>Cryptopia</th>
            <th>Livecoin</th>
            <th>Percentage</th>
        </tr>
    </thead>

</table>



<style>
    td {
        position: relative !important;
    }
</style>