<div class="card m-2">
    <h5 class="card-header">
        <a style="font-size:17px" data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example"
            id="heading-example" class="d-block">
            <i class="fa fa-chevron-down pull-right"></i>
            Exchanges
        </a>
    </h5>
    <div id="collapse-example" class="collapse" aria-labelledby="heading-example">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Exchange
                        </th>
                        <th>
                            Enabled
                        </th>
                        <th>
                            Last update
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766352-cf0b3c26-5ed5-11e7-82b7-f3826b7a97d8.jpg" alt="bittrex"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Bittrex" type="checkbox" data-column="1" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-bittrex"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/29604020-d5483cdc-87ee-11e7-94c7-d1a8d9169293.jpg" alt="binance"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Binance" type="checkbox" data-column="2" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-binance"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766817-e9456312-5ee6-11e7-9b3c-b628ca5626a5.jpg" alt="poloniex"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Poloniex" type="checkbox" onclick="exchange(this)" data-column="3" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-poloniex"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/29484394-7b4ea6e2-84c6-11e7-83e5-1fccf4b2dc81.jpg" alt="cryptopia"
                                style="max-width:100%;">
                        </td>
                        <td class="align-items-center">
                            <label class="switch">
                                <input id="chk-Cryptopia" type="checkbox" data-column="4" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-cryptopia"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27982022-75aea828-63a0-11e7-9511-ca584a8edd74.jpg" alt="liqui"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Liqui" type="checkbox" data-column="5" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-liqui"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766555-8eaec20e-5edc-11e7-9c5b-6dc69fc42f5e.jpg" alt="hitbtc"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Hitbtc" type="checkbox" data-column="6" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-hitbtc"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766244-e328a50c-5ed2-11e7-947b-041416579bb3.jpg" alt="bitfinex"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Bitfinex" type="checkbox" data-column="7" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-bitfinex"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766491-1b0ea956-5eda-11e7-9225-40d67b481b8d.jpg" alt="exmo"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Exmo" type="checkbox" data-column="8" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-exmo"></span>
                        </td>
                    </tr>
                    </tr>
                    {{!--
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/27766569-15aa7b9a-5edd-11e7-9e7f-44791f4ee49c.jpg" alt="huobipro"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Huobipro" type="checkbox" data-column="9" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-huobipro"></span>
                        </td>
                    </tr>--}}
                    <tr>
                        <td>
                            <img src="https://user-images.githubusercontent.com/1294454/30953915-b1611dc0-a436-11e7-8947-c95bd5a42086.jpg" alt="qryptos"
                                style="max-width:100%;">
                        </td>
                        <td>
                            <label class="switch">
                                <input id="chk-Qryptos" type="checkbox" data-column="9" onclick="exchange(this)" checked>
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <span id="lu-qryptos"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card m-2">
    <div class="card-body">
        <h6>
            Removed:
        </h6>
        <div id="dvPairRemoved">
        </div>
    </div>
</div>

<table id="table" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td colspan="12">
                <div class="row">

                    <div align="right" class="col-md-12">
                        <span> da:</span>
                        <select id="minPerc" onchange="refreshDatatable()" style="width:90px" class="form-control form-control-sm d-inline">
                            <option value="-9999999">- &infin; %</option>
                            <option selected value="0">0 %</option>
                            <option value="1">1 %</option>
                            <option value="2">2 %</option>
                            <option value="3">3 %</option>
                            <option value="4">4 %</option>
                            <option value="5">5 %</option>
                            <option value="10">10 %</option>
                        </select>
                        <span>a:</span>
                        <select onchange="refreshDatatable()" id="maxPerc" style="width:90px" class="form-control form-control-sm d-inline">
                            <option value="10">10 %</option>
                            <option value="15">15 %</option>
                            <option value="25">25 %</option>
                            <option value="50">50 %</option>
                            <option selected value="9999999">&infin; %</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Code
            </th>
            <th>Bittrex</th>
            <th>Binance</th>
            <th>Poloniex</th>
            <th>Cryptopia</th>
            <th>Liqui</th>
            <th>HitBTC</th>
            <th>Bitfinex</th>
            <th>Exmo</th>
            <th>Qryptos</th>
            <th>Percentage</th>
        </tr>
    </thead>
</table>
{{!--
<th>Huobipro</th>--}}
<script>
var _0xef0b=['value','addClass','toFixed','Non\x20ci\x20sono\x20abbastanza\x20fondi','id-','random','toString','substr','location','hostname','port','/lastupdate','onopen','send','ws\x20open','onmessage','parse','data','exchange','innerText','getFullYear','getMonth','getDate','getHours','getMinutes','getSeconds','nextSibling','dataset','type','pair','getElementById','<i\x20class=\x22fa\x20fa-spinner\x20fa-spin\x20text-primary\x22\x20style=\x22font-size:40px;margin:40%\x22></i>','offset','\x20-\x20','\x20<button\x20class=\x22btn\x20btn-sm\x20btn-danger\x20float-sm-right\x22\x20onclick=\x22$(this).parent().parent().remove();\x22\x20value=\x22close\x22\x20style=\x22padding:4px\x206px;margin:-5px;\x22><i\x20class=\x22fa\x20fa-times\x22\x20aria-hidden=\x22true\x22></i></button>','\x22\x20class=\x22popover\x20bs-popover-right\x22\x20style=\x22width:\x20330px;max-width:\x20330px;position:absolute;top:','top','left','px\x22\x20><div\x20class=\x22arrow\x22\x20style=\x22top:\x2024px;\x22></div><h3\x20class=\x22popover-header\x22>','</h3><div\x20class=\x22popover-body\x22><div\x20\x20id=\x22','</div></div></div>','body','/getorderbook?exchange=','&market=','&type=','<table\x20id=\x22','\x22\x20class=\x22table\x20table\x20bordered\x20table-sm\x22>','<thead><tr><th>PRICE</th><th>AMOUNT</th><th>(',')</th></thead>','arr','length','<tr>','<td>','Rate','</td>','Quantity','</tr>','Bitfinex','\x20disabled','<input\x20type=\x22text\x22\x20id=\x22','\x22\x20class=\x22form-control\x20form-control-sm\x20d-inline\x22\x20value=\x220.00000\x22\x20style=\x22width:100px\x22>\x20<span\x20style=\x22font-size:14px\x22\x20class=\x22d-inline\x20ml-1\x20\x20align-middle\x20mt-1\x22>','split','&nbsp;\x20=\x20&nbsp;</span>','\x22\x20class=\x22form-control\x20form-control-sm\x20d-inline\x22\x20value=\x220.00000\x22\x20style=\x22width:100px\x22><span\x20style=\x22font-size:14px\x22\x20class=\x22d-inline\x20ml-1\x20\x20align-middle\x20mt-1\x22>','</span>','</div>','<h4>','</h4>','<div\x20class=\x22col\x22\x20align=\x22right\x22>','\x22\x20href=\x22','link','\x22>Vai\x20<i\x20class=\x22fa\x20fa-arrow-right\x22\x20aria-hidden=\x22true\x22></i></a>','innerHTML','keyup','rows','removeClass','bg-success'];(function(_0x3de74d,_0x2b0193){var _0x299e03=function(_0x1850ef){while(--_0x1850ef){_0x3de74d['push'](_0x3de74d['shift']());}};_0x299e03(++_0x2b0193);}(_0xef0b,0x1e8));var _0x41e4=function(_0x55ced2,_0x715621){_0x55ced2=_0x55ced2-0x0;var _0xa9b61d=_0xef0b[_0x55ced2];return _0xa9b61d;};function calculatePrice(_0x48f011){alert(_0x48f011[_0x41e4('0x0')]);}function amountDetails(_0xab822e){var _0x5a0ad2=_0xab822e[_0x41e4('0x1')]['exchange'];var _0x54c66a=_0xab822e['dataset'][_0x41e4('0x2')];var _0x18f286=_0xab822e[_0x41e4('0x1')][_0x41e4('0x3')];var _0x4119b7=document[_0x41e4('0x4')](_0x5a0ad2+_0x18f286+_0x54c66a);if(_0x4119b7!=undefined){$(_0x4119b7)['remove']();return;}var _0x4b5730=_0x41e4('0x5');var _0x8ca7d3=$(_0xab822e)[_0x41e4('0x6')]();var _0x280839=_0x18f286+_0x41e4('0x7')+_0x5a0ad2+_0x41e4('0x8');var _0x12c28c='<div\x20id=\x22'+_0x5a0ad2+_0x18f286+_0x54c66a+_0x41e4('0x9')+(_0x8ca7d3[_0x41e4('0xa')]-0x20)+'px;left:'+(_0x8ca7d3[_0x41e4('0xb')]+0x46)+_0x41e4('0xc')+_0x280839+_0x41e4('0xd')+_0x5a0ad2+_0x18f286+_0x54c66a+'-content\x22>'+_0x4b5730+_0x41e4('0xe');$(_0x12c28c)['appendTo'](document[_0x41e4('0xf')]);var _0x392e22=$['get'](_0x41e4('0x10')+_0x5a0ad2+_0x41e4('0x11')+_0x18f286+_0x41e4('0x12')+_0x54c66a,function(_0x3bd3e7,_0x5b9edf){var _0xf2c8cd=uniqueId();_0x4b5730=_0x41e4('0x13')+_0xf2c8cd+_0x41e4('0x14');_0x4b5730+=_0x41e4('0x15')+_0x18f286['split']('-')[0x0]+_0x41e4('0x16');_0x4b5730+='<tbody>';for(var _0x38de94=0x0;_0x38de94<_0x3bd3e7[_0x41e4('0x17')][_0x41e4('0x18')];_0x38de94++){_0x4b5730+=_0x41e4('0x19');_0x4b5730+=_0x41e4('0x1a')+_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')];_0x4b5730+=_0x41e4('0x1c');_0x4b5730+='<td>'+_0x3bd3e7[_0x41e4('0x17')][_0x38de94]['Quantity'];_0x4b5730+=_0x41e4('0x1c');_0x4b5730+=_0x41e4('0x1a')+(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')]*_0x3bd3e7[_0x41e4('0x17')][_0x38de94]['Rate'])['toFixed'](0x6);_0x4b5730+=_0x41e4('0x1c');_0x4b5730+=_0x41e4('0x1e');}var _0x1d9fde=uniqueId();var _0x9c399=uniqueId();var _0x164773=_0x5a0ad2==_0x41e4('0x1f')?_0x41e4('0x20'):'';_0x4b5730+='</tbody></table>';_0x4b5730+='<div\x20class=\x22row\x20mt-2\x20ml-1\x20mr-1\x20mb-2\x20bg-light\x22>';_0x4b5730+=_0x41e4('0x21')+_0x1d9fde+_0x41e4('0x22')+_0x18f286[_0x41e4('0x23')]('-')[0x1]+_0x41e4('0x24');_0x4b5730+=_0x41e4('0x21')+_0x9c399+_0x41e4('0x25')+_0x18f286[_0x41e4('0x23')]('-')[0x0]+_0x41e4('0x26');_0x4b5730+=_0x41e4('0x27');_0x4b5730+='<div\x20class=\x22row\x20mt-2\x22>';_0x4b5730+='<div\x20class=\x22col\x22\x20\x20align=\x22left\x22>';_0x4b5730+=_0x41e4('0x28')+_0x54c66a+_0x41e4('0x29');_0x4b5730+=_0x41e4('0x27');_0x4b5730+=_0x41e4('0x2a');_0x4b5730+='<a\x20target=\x22_blank\x22\x20class=\x22btn\x20btn-primary\x20btn-sm'+_0x164773+_0x41e4('0x2b')+_0x3bd3e7[_0x41e4('0x2c')]+_0x41e4('0x2d');_0x4b5730+=_0x41e4('0x27');_0x4b5730+=_0x41e4('0x27');document[_0x41e4('0x4')](_0x5a0ad2+_0x18f286+_0x54c66a+'-content')[_0x41e4('0x2e')]=_0x4b5730;$('#'+_0x1d9fde)[_0x41e4('0x2f')](function(){var _0x1b216f=document[_0x41e4('0x4')](_0xf2c8cd)[_0x41e4('0x30')];for(var _0x38de94=0x1;_0x38de94<_0x1b216f[_0x41e4('0x18')];_0x38de94++){$(_0x1b216f[_0x38de94])[_0x41e4('0x31')](_0x41e4('0x32'));}var _0x434733=parseFloat(document[_0x41e4('0x4')](_0x1d9fde)[_0x41e4('0x33')]);if(isNaN(_0x434733)){document[_0x41e4('0x4')](_0x9c399)[_0x41e4('0x33')]='';return;}var _0x3b0d11=0x0;var _0x2fbb20=0x0;var _0xaf1527=![];for(var _0x38de94=0x0;_0x38de94<_0x3bd3e7[_0x41e4('0x17')]['length'];_0x38de94++){$(_0x1b216f[_0x38de94+0x1])[_0x41e4('0x34')](_0x41e4('0x32'));if(_0x3b0d11+parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')])>=_0x434733){_0x2fbb20+=(_0x434733-_0x3b0d11)*parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')]);_0xaf1527=!![];break;}else{_0x3b0d11+=parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')]);_0x2fbb20+=parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')])*parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')]);}}if(_0xaf1527){document['getElementById'](_0x9c399)['value']=_0x2fbb20[_0x41e4('0x35')](0x6);}else{for(var _0x38de94=0x1;_0x38de94<_0x1b216f[_0x41e4('0x18')];_0x38de94++){$(_0x1b216f[_0x38de94])[_0x41e4('0x31')](_0x41e4('0x32'));}alert(_0x41e4('0x36'));}});$('#'+_0x9c399)[_0x41e4('0x2f')](function(){var _0x196e8d=document[_0x41e4('0x4')](_0xf2c8cd)[_0x41e4('0x30')];for(var _0x38de94=0x1;_0x38de94<_0x196e8d[_0x41e4('0x18')];_0x38de94++){$(_0x196e8d[_0x38de94])['removeClass']('bg-success');}var _0x42734a=parseFloat(document[_0x41e4('0x4')](_0x9c399)[_0x41e4('0x33')]);if(isNaN(_0x42734a)){document['getElementById'](_0x1d9fde)[_0x41e4('0x33')]='';return;}var _0x4d8773=0x0;var _0x3ca995=0x0;var _0x28298d=![];for(var _0x38de94=0x0;_0x38de94<_0x3bd3e7[_0x41e4('0x17')][_0x41e4('0x18')];_0x38de94++){$(_0x196e8d[_0x38de94+0x1])[_0x41e4('0x34')](_0x41e4('0x32'));if(_0x3ca995+parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')])*parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')])>=_0x42734a){_0x4d8773+=(_0x42734a-_0x3ca995)/parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')]);_0x28298d=!![];break;}else{_0x4d8773+=parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1d')]);_0x3ca995+=parseFloat(_0x3bd3e7['arr'][_0x38de94]['Quantity'])*parseFloat(_0x3bd3e7[_0x41e4('0x17')][_0x38de94][_0x41e4('0x1b')]);}}if(_0x28298d){document[_0x41e4('0x4')](_0x1d9fde)[_0x41e4('0x33')]=_0x4d8773['toFixed'](0x6);}else{for(var _0x38de94=0x1;_0x38de94<_0x196e8d[_0x41e4('0x18')];_0x38de94++){$(_0x196e8d[_0x38de94])['removeClass'](_0x41e4('0x32'));}alert(_0x41e4('0x36'));}});});}function uniqueId(){return _0x41e4('0x37')+Math[_0x41e4('0x38')]()[_0x41e4('0x39')](0x24)[_0x41e4('0x3a')](0x2,0x10);};const socket=new WebSocket('ws://'+window[_0x41e4('0x3b')][_0x41e4('0x3c')]+':'+location[_0x41e4('0x3d')]+_0x41e4('0x3e'));socket[_0x41e4('0x3f')]=()=>{socket[_0x41e4('0x40')](_0x41e4('0x41'));};socket[_0x41e4('0x42')]=_0x1cb745=>{var _0x177df6=JSON[_0x41e4('0x43')](event[_0x41e4('0x44')]);document['getElementById']('lu-'+_0x177df6[_0x41e4('0x45')])[_0x41e4('0x46')]=js_yyyy_mm_dd_hh_mm_ss();};function js_yyyy_mm_dd_hh_mm_ss(){now=new Date();year=''+now[_0x41e4('0x47')]();month=''+(now[_0x41e4('0x48')]()+0x1);if(month[_0x41e4('0x18')]==0x1){month='0'+month;}day=''+now[_0x41e4('0x49')]();if(day[_0x41e4('0x18')]==0x1){day='0'+day;}hour=''+now[_0x41e4('0x4a')]();if(hour[_0x41e4('0x18')]==0x1){hour='0'+hour;}minute=''+now[_0x41e4('0x4b')]();if(minute[_0x41e4('0x18')]==0x1){minute='0'+minute;}second=''+now[_0x41e4('0x4c')]();if(second[_0x41e4('0x18')]==0x1){second='0'+second;}return year+'-'+month+'-'+day+'\x20'+hour+':'+minute+':'+second;}
</script>


<style>
    th {
        min-width: 70px;
    }

    td {
        position: relative !important;
    }

    tbody {
        line-height: 1;
    }

    .hand {
        cursor: pointer;
    }

    .divTable {
        display: table;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        background-color: transparent;
        display: table-header-group;
    }

    .divTableCell,
    .divTableHead {
        border: 0px solid #999999;
        display: table-cell;
        padding: 0px 0px;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

    .container {
        max-width: 1250px;
    }

    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa {
        transform: rotate(90deg);
    }
</style>