<br/>
<br/>
<br/>
<div class="card" align="center">
    <div width="40%" class="card-header bg-primary text-white">
        <i class="fab fa-telegram-plane"></i>
        Telegram notifications
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle">Exchanges:</h6>
            </div>
            <div align="left" class="col">
                <button id="chkBittrex" class="btn btn-light btn-sm" type="button" data-toggle="button" aria-pressed="true"> Bittrex</button>
                <button id="chkBinance" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> Binance</button>
                <button id="chkPoloniex" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> Poloniex</button>
                <button id="chkCryptopia" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> Cryptopia</button>
                <button id="chkLivecoin" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> Livecoin</button>
                <button id="chkLiqui" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> Liqui</button>
                <button id="chkHitBTC" class="btn btn-light btn-sm " type="button" data-toggle="button" aria-pressed="true"> HitBTC</button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle"> Base currencies:</h6>
            </div>
            <div align="left" class="col">
                <button id="chkBTC" class="btn btn-light btn-sm" type="button" data-toggle="button" aria-pressed="true"> BTC</button>
                <button id="chkETH" class="btn btn-light btn-sm" type="button" data-toggle="button" aria-pressed="true"> ETH</button>
                <button id="chkUSDT" class="btn btn-light btn-sm" type="button" data-toggle="button" aria-pressed="true"> USDT</button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle"> Min %: </h6>
            </div>
            <div align="left" class="col">
                <select id="slcMinPerc" style="width:110px" class="form-control form-control-sm">
                    <option value="2">2 %</option>
                    <option value="3">3 %</option>
                    <option value="4">4 %</option>
                    <option value="5">5 %</option>
                    <option value="6">6 %</option>
                    <option value="7">7 %</option>
                    <option value="8">8 %</option>
                    <option value="9">9 %</option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle"> Max %:</h6>
            </div>
            <div align="left" class="col">
                <select id="slcMaxPerc" style="width:110px" class="form-control form-control-sm">
                    <option value="10">10 %</option>
                    <option value="15">15 %</option>
                    <option value="20">20 %</option>
                    <option value="25">25 %</option>
                    <option value="50">50 %</option>
                    <option value="10">100 %</option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle"> Min Volume:</h6>
            </div>
            <div class="col" align="left">
                <div class="input-group" style="width:150px">
                    <input id="txtminVolume" type="text" class="form-control form-control-sm" placeholder="es: 0.05" aria-label="es: 0.05" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">BTC</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6 class="d-inline align-middle"> Excluded pairs: </h6>
            </div>
            <div class="col" align="left">
                <textarea id="txtExcludedPairs" placeholder="es: BTC-ADA
     ETH-ARK    
     BTC-STEEM" class="form-control form-control-sm" style="width:200px" rows="5"></textarea>
            </div>
        </div>
        <div align="center" class="row mt-5">
            <div class="col">
                <button id="btnGetCode" class="btn btn-primary">
                    <i class="fab fa-telegram"></i> Get code</button>
            </div>
        </div>
    </div>
</div>

<script>
  $( "#btnGetCode" ).click(function( event ) {
  event.stopPropagation();

  $.ajax({
  type: "POST",
  url: "setAlert",
  data: data,
  success: success,
  dataType: "json"
});
  // Do something
});
</script>