<br/>
<br/>
<br/>
<div class="card" align="center">
    <div width="40%" class="card-header bg-primary text-white">
        <i class="fab fa-telegram-plane"></i>
        Telegram notifications
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col text-right">
                <h6>Exchanges:</h6>
            </div>
            <div class="col">
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Bittrex</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Binance</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Poloniex</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Cryptopia</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Livecoin</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> Liqui</button>
                <button class="btn btn-light btn-sm active" type="button" data-toggle="button" aria-pressed="true"> HitBTC</button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6> Base currencies:</h6>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6> Min %: </h6>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6> Max %:</h6>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6> Min Volume:</h6>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-right">
                <h6> Excluded pairs: </h6>
            </div>
            <div class="col">

            </div>
        </div>
        <div align="center" class="row mt-5">
            <div class="col">
                <button class="btn btn-primary">
                    <i class="fab fa-telegram"></i> Get code</button>
            </div>
        </div>
    </div>
</div>